[package]
name = "xxhash_test"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
xxhash-rust = { version = "0.8", features = ["xxh32"] }

[profile.release]
opt-level = "z"
lto = true
